.result_container {
  height: 100vh;
  width: 100%;
  background-color: #041325;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headquiz {
  font-size: 20px;
}
.victory_container {
  height: 90%;
  width: 90%;
  background-color: white;
  border-radius: 0.5rem;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  color: var(--grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result_container img {
  height: 40%;
}

@media (max-width: 650px) {
  .victory_container {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    font-size: 0.8rem;
  }

  .result_container img {
    height: 30%;
  }

  .result_container h1 {
    text-align: center;
  }
}
